{% extends 'base.html.twig' %}
{% block title %}
Add_page
{% endblock %}
{% block img_une %}
{{ asset('bundles/clean-blog/img/' ~ img ) }}
{% endblock %}

{% block body %}
{% if 'article_add' == app.request.get('_route') %}
  {% set submitButton ='add' %}
  {% set title = 'Add a new article' %}
{% else %}
  {% set submitButton = 'send' %}
  {% set title = 'Update the article "'~ article.title ~'"' %}
{% endif %}
<article>
  <div class="container">
    <div class="row">
      <h1>{{ title }}</h1>
      {{ form_start(articleForm , {'attr': {'novalidate': 'novalidate'}}) }}
      {{ form_row(articleForm.title) }}
      {{ form_row(articleForm.header_image) }}
      {% if 'article_update' == app.request.get('_route') %}
        <img src="{{ oldArticleImage }}" width='100'/>
      {% endif %} 
      {{ form_row(articleForm.content) }}
      <input class="btn btn-success pull-left" type="submit" name="send" value="{{ submitButton }}">
      {{ form_end(articleForm) }}
    </div>
  </div>
</article>
{% endblock %}
