{% extends 'base.html.twig' %}
{% block title %}
showpage
{% endblock %}
{% block img_une %}
{{ asset('bundles/clean-blog/img/' ~ img ) }}
{% endblock %}

{% block body %}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-preview">
                  <h2 class="post-title">
                      {{ article.title}}
                  </h2>
                {% if article.headerImage %}
                    <img src="{{ article_img }}" width="100%" class="img-responsive" style='margin: 0 auto;'>
                {% endif %}
                  <p class="post-content">
                      {{ article.content|purify }}
                  </p>
              <p class="post-meta">Posted by <a href="#">{{ article.author }}</a> on {{ article.createdAt|date('l jS \\of F Y') }}</p>
          </div>
          {%  if manage_enable %}
            <a href="{{ path('article_update', {'id': article.id}) }}" class="btn btn-info pull-right">Modify</a>
            <a href="{{ path('article_delete', {'id': article.id}) }}" class="btn btn-danger pull-right">Delete</a>
          {% endif %}

        </div>
    </div>
  </div>
{% endblock %}
